/* body */
body{
    font-family: 'PT Sans', sans-serif;
}

/* upper */
#upper{
    height: calc(100vh - 100px);
    background-color: rgb(21, 26, 35);
    display: flex;
}

/* side */
#side{
    height: 100%;
    width: 250px;
    padding-top: 20px;
    padding-left: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(163, 163, 163);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

#logo{
    width: 65%;
    margin-bottom: 20px;
}

.first-list{
    line-height: 40px;
    margin-bottom: 15px;
}

.first-list > div > i{
    font-size: 25px;
    margin-right: 5px;
    vertical-align: middle;
}

.second-list > h3{
    color: white;
}

.playlist{
    margin-top: 10px;
    height: 200px;
    overflow: auto;
}

.playlist::-webkit-scrollbar {
    width: 12px;
}

.playlist::-webkit-scrollbar-track {
    background-color: #000000;
}

.playlist::-webkit-scrollbar-thumb {
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
}

.playlist > div{
    margin-bottom: 20px;
}

.playlist > div > i{
    font-size: 45px;
    vertical-align: middle;
}

.side-under{
    position: absolute;
    width: 80%;
    bottom: 0;
}

.side-under > span > i{
    margin-right: 10px;
}

.side-under > hr{
    opacity: 0.4;
    margin-top: 10px;
    margin-bottom: 10px;
}

#user{
    color: white;
    font-size: 20px;
}



/* main */
main{
    width: calc(100% - 250px);
    height: 100%;
    overflow: auto;
}

main > div > h1{
    color: white;
    margin-top: 30px;
    margin-left: 10px;
}

.main-top{
    background-color: rgb(8, 11, 18);
    height: 100px;
    position: fixed;
    width: calc(100% - 250px);
    display: flex;
    justify-content: end;
    align-items: center;
}

.main-top > button{
    color: white;
    height: 50px;
    width: 250px;
    border: 1px solid white;
    background-color: rgb(8, 11, 18);
    border-radius: 30px;
}

.navigation-bar{
    margin: auto;
    margin-top: 120px;
    display: flex;
    width: 50%;
    justify-content: space-between;
    color: rgb(163, 163, 163);
}

.row{
    margin-top: 25px;
}

/* regole row */
.col-lg-2 > img{
    max-width: 90%;
}

/* player */
footer{
    height: 100px;
    background-color: rgb(41, 41, 41);
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
}