/* body */
body{
    font-family: 'PT Sans', sans-serif;
}

/* upper */
#upper{
    height: calc(100vh - 100px);
    background-color: rgb(21, 26, 35);
    display: flex;
}

/* side */
#side{
    height: 100%;
    width: 250px;
    padding-top: 20px;
    padding-left: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(163, 163, 163);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

#logo{
    width: 65%;
    margin-bottom: 20px;
}

.first-list{
    line-height: 40px;
    margin-bottom: 15px;
}

.first-list > div > i{
    font-size: 25px;
    margin-right: 5px;
    vertical-align: middle;
}

.second-list > h3{
    color: white;
}

.playlist{
    margin-top: 10px;
    height: 200px;
    overflow: auto;
}

.playlist::-webkit-scrollbar {
    width: 12px;
}

.playlist::-webkit-scrollbar-track {
    background-color: #000000;
}

.playlist::-webkit-scrollbar-thumb {
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
}

.playlist > div{
    margin-bottom: 20px;
}

.playlist > div > i{
    font-size: 45px;
    vertical-align: middle;
}

.side-under{
    position: absolute;
    width: 80%;
    bottom: 0;
}

.side-under > span > i{
    margin-right: 10px;
}

.side-under > hr{
    opacity: 0.4;
    margin-top: 10px;
    margin-bottom: 10px;
}

#user{
    color: white;
    font-size: 20px;
}



/* main */
main{
    width: calc(100% - 250px);
    height: 100%;
    overflow: auto;
}

main::-webkit-scrollbar {
    width: 12px;
}

main::-webkit-scrollbar-track {
    background-color: #000000;
}

main::-webkit-scrollbar-thumb {
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
}

.main-top{
    background-color: rgb(8, 11, 18);
    height: 100px;
    position: fixed;
    width: calc(100% - 250px);
    display: flex;
    justify-content: end;
    align-items: center;
}

.main-top > button{
    color: white;
    height: 50px;
    width: 250px;
    border: 1px solid white;
    background-color: rgb(8, 11, 18);
    border-radius: 30px;
}

.navigation-bar{
    margin: auto;
    margin-top: 120px;
    display: flex;
    width: 50%;
    justify-content: space-between;
    color: rgb(163, 163, 163);
}



/* regole row / container */
.container-main{
    width: 95%;
    margin: auto;
}

.container-main > div > h1{
    color: white;
    margin-top: 35px;
    margin-left: 10px;
}

.container-main > div > span{
    margin-left: 10px;
    color: rgb(163, 163, 163);
}

.row{
    margin-top: 25px;
    text-align: center;
}

.col-lg-2 > img{
    max-width: 93%;
}

.col-lg-2 > h3{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.col-lg-2 > span{
    color: rgb(163, 163, 163);
}

.circle{
    border-radius: 100px;
}

/* player / footer */
footer{
    height: 100px;
    background-color: rgb(41, 41, 41);
}

.container-footer{
    display: flex;
    justify-content: space-between;
    max-height: 100%;
    padding: 10px;
    color: rgb(163, 163, 163);
}

.mini-album , .instruments{
    width: calc(100% / 6);
}

.mini-album{
    display: flex;
    align-items: center;
}

.mini-album > img{
    max-width: 20%;
    object-fit: contain;
    margin-right: 10px;
}

.mini-album > div > h3{
    color: white;
    font-size: 15px;
}

.mini-album > div > span{
    font-size: 13px;
}

.save-me{
    margin-left: 40px
}

.mini-album > div > i{
    margin-left: 10px;
}

.player{
    width: 40%;
    text-align: center;
}

.player > div > i , span{
    color: white;
}

.player > div > span{
    font-size: 10px;
}

.player > div > i{
    font-size: 20px;
}

.player > div > .rotate{
    transform: rotate(180deg);
}

.central-icons{
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 10px;
}

.big{
    font-size: 30px;
}

.player-line {
    width: 80%;
    border: 2px solid grey;
    border-radius: 5px;
    display: inline-block;
    margin: 0 10px;
}

.player-line:hover{
    cursor: pointer;
}

.instruments{
    margin-top: 25px;
}

.instruments > .player-line{
    width: 50%;
}

.instruments > i{
    color: white;
    margin-right: 10px;
}